<div>
    <form class="inputContainer">
        <div class="formRow1">
            <button class="getAnswer" type="button" class="btn btn-outline-secondary">Get Answer</button>
            <button class="getImage" type="button" class="btn btn-outline-secondary">Get Image</button>
        </div>
        <div class="formRow2">
            <input type="text" class="inputField">
            <button type="button" class="btn btn-outline-success">Send</button>
        </div>
        <div class="formRow3">
            <button class="record" type="button" class="btn btn-outline-danger">Record</button>
        </div>
    </form>
</div>