.my-page {
    margin-bottom: 130px;
    display: block;
  width: 100%;
}

.input-msg, .output-msg {
    margin-top: 10px;
    padding: 15px;

    color: white;
    background: var(--dark-blue);

    max-width: 300px;
}

.logs {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

.input-msg {
    background-color: var(--dark-blue);
    padding: 10px;
    margin: 5px;
    margin-right: 25px;
    border-radius: 5px;
    align-self: flex-end;
}
  
.output-msg {
    background-color: #f78a31;
    padding: 10px;
    margin: 5px;
    margin-left: 25px;
    border-radius: 5px;
    align-self: flex-start;
}

/* img {

} */