<div class="mobile-header">
    <img src="https://i.imgur.com/CXtvBMY.png" (click)="returnHome()" alt="">
    <!-- <i id="menu-btn" class="fa-solid fa-bars" (click)="hamburgerOpenClose()"></i> -->
    <div id="menu-btn" (click)="hamburgerOpenClose()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="mobile-menu" [@slideInFromTop]="showMenu">
    <ul>
        <li>Create Page</li>
        <li>My Pages</li>
        <li>About</li>
        <li><i class="fa-solid fa-user"></i>Account</li>
    </ul>
</div>

<div class="desktop-header">
    <img src="https://i.imgur.com/CXtvBMY.png" (click)="returnHome()" alt="">
    <ul>
        <li>Create Page</li>
        <li>My Pages</li>
        <li>About</li>
        <li><i class="fa-solid fa-user"></i>Account</li>
    </ul>
</div>


<!-- <i class="fa-solid fa-x"></i> -->